In [28]:
import pandas as pd
import json
import numpy as np
import os
from pathlib import Path
from collections import defaultdict

In [29]:
dss_dir = Path('/home/data')

In [50]:
ds_dic = defaultdict(list)
for ds_dir in os.listdir(dss_dir):
    json_path = dss_dir / ds_dir / 'info.json'
    with open(json_path, 'r') as f:
        data = json.load(f)
    for key in ['name', 'task_type', 'train_size', 'n_num_features', 'n_bin_features']:
        if key in data:
            ds_dic[key].append(data[key])
        else:
            ds_dic[key].append(None)
    ds_dic['dir'].append(ds_dir)

In [51]:
df = pd.DataFrame.from_dict(ds_dic)

# These are valid datasets for our task

In [52]:
df[df.task_type.isin(['binclass', 'multiclass'])].sort_values('train_size', ascending=False)

,name,task_type,train_size,n_num_features,n_bin_features,dir
80,Covertype,multiclass,371847,10,44.0,covtype
61,Higgs Small,binclass,62751,28,0.0,higgs-small
86,classif-cat-large-0-covertype,binclass,50000,10,44.0,classif-cat-large-0-covertype
13,classif-num-large-0-MiniBooNE,binclass,50000,50,NaN,classif-num-large-0-MiniBooNE
97,classif-cat-large-0-road-safety,binclass,50000,29,NaN,classif-cat-large-0-road-safety
23,classif-num-large-0-Higgs,binclass,50000,24,NaN,classif-num-large-0-Higgs
45,classif-num-large-0-jannis,binclass,40306,54,NaN,classif-num-large-0-jannis
37,Otto Group Products,multiclass,39601,93,0.0,otto
56,Adult,binclass,26048,6,1.0,adult
9,classif-num-medium-0-credit,binclass,10000,10,NaN,classif-num-medium-0-credit
89,classif-cat-medium-1-compass,binclass,10000,8,2.0,classif-cat-medium-1-compass
90,classif-cat-medium-0-compass,binclass,10000,8,2.0,classif-cat-medium-0-compass
92,classif-cat-medium-0-electricity,binclass,10000,7,NaN,classif-cat-medium-0-electricity
102,classif-num-medium-1-credit,binclass,10000,10,NaN,classif-num-medium-1-credit
84,classif-num-medium-1-MagicTelescope,binclass,9363,10,NaN,classif-num-medium-1-MagicTelescope
93,classif-num-medium-0-MagicTelescope,binclass,9363,10,NaN,classif-num-medium-0-MagicTelescope
17,classif-num-medium-2-MagicTelescope,binclass,9363,10,NaN,classif-num-medium-2-MagicTelescope
4,classif-num-medium-1-bank-marketing,binclass,7404,7,NaN,classif-num-medium-1-bank-marketing
10,classif-num-medium-2-bank-marketing,binclass,7404,7,NaN,classif-num-medium-2-bank-marketing
71,classif-num-medium-0-bank-marketing,binclass,7404,7,NaN,classif-num-medium-0-bank-marketing
7,Churn Modelling,binclass,6400,7,3.0,churn
38,classif-num-medium-0-kdd_ipums_la_97-small,binclass,3631,20,NaN,classif-num-medium-0-kdd_ipums_la_97-small
78,classif-num-medium-1-kdd_ipums_la_97-small,binclass,3631,20,NaN,classif-num-medium-1-kdd_ipums_la_97-small
81,classif-num-medium-2-kdd_ipums_la_97-small,binclass,3631,20,NaN,classif-num-medium-2-kdd_ipums_la_97-small
15,classif-cat-medium-2-KDDCup09_upselling,binclass,3589,34,1.0,classif-cat-medium-2-KDDCup09_upselling
64,classif-cat-medium-0-KDDCup09_upselling,binclass,3589,34,1.0,classif-cat-medium-0-KDDCup09_upselling
101,classif-cat-medium-1-KDDCup09_upselling,binclass,3589,34,1.0,classif-cat-medium-1-KDDCup09_upselling
51,classif-cat-medium-2-rl,binclass,3479,5,3.0,classif-cat-medium-2-rl
5,classif-cat-medium-1-rl,binclass,3479,5,3.0,classif-cat-medium-1-rl
12,classif-cat-medium-0-rl,binclass,3479,5,3.0,classif-cat-medium-0-rl
62,classif-num-medium-1-phoneme,binclass,2220,5,NaN,classif-num-medium-1-phoneme
82,classif-num-medium-3-phoneme,binclass,2220,5,NaN,classif-num-medium-3-phoneme
66,classif-num-medium-4-phoneme,binclass,2220,5,NaN,classif-num-medium-4-phoneme
52,classif-num-medium-0-phoneme,binclass,2220,5,NaN,classif-num-medium-0-phoneme
42,classif-num-medium-2-phoneme,binclass,2220,5,NaN,classif-num-medium-2-phoneme
70,classif-num-medium-2-wine,binclass,1787,11,NaN,classif-num-medium-2-wine
67,classif-num-medium-3-wine,binclass,1787,11,NaN,classif-num-medium-3-wine
98,classif-num-medium-0-wine,binclass,1787,11,NaN,classif-num-medium-0-wine
31,classif-num-medium-4-wine,binclass,1787,11,NaN,classif-num-medium-4-wine
1,classif-num-medium-1-wine,binclass,1787,11,NaN,classif-num-medium-1-wine